.tab-nav .nav.leadership-slider li + li:before {
  width: 0px;
}
.btn-unactive {
  border: 1px solid #dd052b;
}
.btn-unactive a {
  color: black !important;
  text-decoration: none;
  padding: 0.5rem 2rem !important;
}
.btn-unactive:hover,
.active-leadership-button {
  background-color: #dd052b !important;
  color: #fff !important;
}
.btn-unactive:hover a {
  color: #fff !important;
}
.active-leadership-button a {
  color: #fff !important;
}
.btn-unactive.active-leadership-button:hover {
  border: 1px solid #dd052b;
  background-color: #fff !important;
}
.btn-unactive.active-leadership-button:hover a {
  color: black !important;
}
@media screen and (max-width: 400px) {
  .bod,
  .geb {
    padding: 0.5rem 0.7rem !important;;
  }
  .btn-va {
    padding: 0.5rem 1.7rem !important;;
  }
}
