*{
    margin:0px;
    padding:0px;
}
#nav{
    display:flex;
    justify-content:space-around;
    gap: 30px;
    align-items: center;
    /* margin:20px; */
    /* border: 1px solid black; */
    padding:10px;
    border:1px solid whitesmoke ;
    background-color: rgb(187, 136, 206);

}
section div a img{
    height: 50px;
    width: 200px;
}

#list{
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size: 19px;
    gap:20px;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
section nav div ul li a{
    color:Black;
    text-decoration: none;

}
section{
    border: 1px solid whitesmoke;
}
.signup{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:2px solid blue;
    border-radius: 3px;
    padding:7px;
    font-size: 18px;
}

#section1{
    background-image: url(download.jpg);
}